.btn {
  @apply transition px-6;
  min-height: var(--min-height, 43px);
  border-radius: 10px;
  border: 2px solid transparent;

  &-primary {
    @apply text-white bg-primary hover:bg-transparent hover:text-primary border-primary;
  }
}
