@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #13aff0;
    --color-secondary: #f2a00a;
    --color-text: #4a4a4a;
    --font-primary: "Montserrat", sans-serif;
  }
  body {
    font-family: var(--font-primary);
    color: var(--color-text);
  }
}

@layer components {
  @import "./layout";
  @import "./button";
}
