.carousel {
  --swiper-navigation-color: var(--color-primary);
  --swiper-pagination-color: var(--color-primary);
  --swiper-pagination-bottom: 0;
  @apply pb-4 md:pb-0 h-[100px];
}
.wrapper {
  @apply flex md:justify-center;
}
